:root {
  --color-gray-100: #f7fafc;
  --color-gray-900: #1a202c;

  --spacing: 3rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-moz-focus-inner {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: var(--color-gray-900);
  background: var(--color-gray-100);
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: var(--spacing);
}

body {
  min-height: calc(100vh - var(--spacing) * 2);
  width: 100%;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: var(--color-gray-100);
  padding: var(--spacing);
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-100);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-logo {
  height: 15rem;
  width: 15rem;
  margin: 0 auto;
}

.brand-name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 1rem;
  font-size: 2.6rem;
  letter-spacing: 5px;
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: var(--spacing);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li a {
  padding: 0 1rem;
}

.social-icons li:last-child a {
  padding: 0 0 0 1rem;
}

.social-icons li svg {
  fill: var(--color-gray-100);
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: text-bottom;
  transition: transform 0.2s ease-out;
}

.social-icons li a:hover svg {
  transform: scale(1.5);
}

/* MEDIA QUERIES ============================================================== */

@media screen and (min-width: 1680px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }

  .footer {
    flex-direction: column;
  }

  .tagline {
    margin: 2rem 0;
    text-align: center;
    line-height: 2rem;
  }

  .social-icons li svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .social-icons li a:hover svg {
    transform: scale(1);
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-height: 400px) {
  body {
    min-height: 300px;
    align-items: flex-start;
  }
}
