:root {
  /* COLORS ================================================= */
  --gray100: #f7fafc;
  --gray300: #e2e8f0;
  --gray700: #4a5568;
  --gray900: #1a202c;

  /* SPACING ================================================= */
  --spacing: 2rem;
  --icon-size: 2.3rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-moz-focus-inner {
  border: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: var(--gray900);
  background: var(--gray100);
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 50%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--gray300);
  padding: var(--spacing);
  background-color: var(--gray900);

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: fixed;
  top: var(--spacing);
  bottom: var(--spacing);
  left: var(--spacing);
  right: var(--spacing);
  padding: var(--spacing);
  border: 1px solid var(--gray300);
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-logo {
  width: 14rem;
  height: 14rem;
}

.brand-name {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
}

.tagline {
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  line-height: 1.65;
  margin-bottom: 1rem;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li a {
  display: block;
  padding: 0.5rem;
}

.social-icons li:not(:last-child) {
  margin-right: 2%;
}

.social-icons li svg {
  fill: var(--gray300);
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

/* MEDIA QUERIES ============================================================== */
@media screen and (hover: hover) {
  :root {
    --icon-size: 1.8rem;
  }

  .social-icons li:not(:last-child) {
    margin-right: 1.5rem;
  }

  .social-icons li a {
    padding: 0;
  }

  .social-icons li a:hover svg {
    transform: scale(1.4);
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 62.5%;
  }
}
